<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="UTF-8">
<title>Quiz Wiki - 문제보기</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/pboard/cbt.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
<link rel="icon" th:href="@{/images/favicon.ico}" /
<script src="https://kit.fontawesome.com/e92cf22849.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
</head>
<body>
    <div style="width:100%; height:100vh; display: flex; padding: 0 10%;" class="cbt-wrap">
        <div style="width:100%; align-self:center; margin-top:0; max-height:100vh;" class="cbt-content-wrap">
        
            <div style="width:100%; height: fit-content;" class="cbt-problem-wrap">
                <div class="cbt-multi-problem">
                    <div class="problem-content">
                        <p id="contentRegion"></p>
                    </div>
                    <div class="problem-print">
                    	<div id="printfileRegion" class="preview-printfile"></div>
                    	<pre id="printRegion"></pre>
                    </div>
                </div>
                <ul id="problemChoiseList" class="problem-choise">
               </ul>
            </div>
        </div>
    
    </div>
    
    
    
    <!-- ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■RESULT MODAL■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ -->
    <div id="resultPopup">
    	<div id="resultPopupBG"></div>
    	<div class="result-popup-wrap">
    		<div class="banner-gradient"></div>
    		
    		<div class="result-popup-content">
    			
    			<div class="result-title-wrap">
    				<h1>문제풀이 채점 결과</h1>
	    		</div>
	    		
	    		
	    		<div class="result-table-outter">
		    		<div class="result-summary">
		    			<p class="result-summary-text">정답 문항수: <span id="resultCount">2/5</span></p>
						<p class="result-summary-text">경과 시간: <span id="elapsedTime">48분 32초</span></p>
		    		</div>
		    		
		    		<table class="result-table">
		    			<thead>
		    				<tr>
		    					<th>번호</th>
		    					<th>입력</th>
		    					<th>정답</th>
		    					<th>채점</th>
		    					<th class="result-desc-td">해설</th>
		    				</tr>
		    			</thead>
		    				
		    			<tbody id="resultTableBody">
		    			
		    			</tbody>
		    		</table>
	    		</div>
    			
    		</div>
    		
    	</div>
    </div>
    
	<script type="text/javascript" th:inline="javascript">
	//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■Var■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		const problemData = /*[[${problem}]]*/'';
		syncProblem();
		
	//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■init■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
	
	//■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■function■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		
		function syncProblem(){
			const problem = problemData;
			
			
			contentRegion.textContent = problem.problemContent;
			
			//지문
			printRegion.textContent = problem.problemPrint;
			
			//지문파일
			if(problem.problemFileList.length>0){
				let imgpath = "/pboard/printfile/find/"
				
				let printImg = document.createElement("img");
				printImg.src = imgpath+problem.problemId;
				
				printfileRegion.appendChild(printImg);
				printfileRegion.style.display= "flex";
			}
			
			
			//문제 타입별 분기처리
			if(problem.problemType == "m"){ //객관식 문제 일 경우
				problem.problemChoiseList.forEach((e, idx)=>{
					let li = document.createElement("li");
					li.textContent = e.problemChoiseContent;
					if((problem.solv != "") && (problem.solv == idx)){
						li.classList.add("selected");
					}
					
					li.addEventListener("click", ()=>{
						selectSolv(currentIndex, idx);
					});
					
					problemChoiseList.appendChild(li);
				});
			}else{ // 주관식 문제 일 경우
				let mpRegionWrap = document.createElement("div");
				mpRegionWrap.classList.add("mp-region-warp");
				
				let p = document.createElement("p");
				p.classList.add("mp-region-text");
				p.textContent = "정답:";
				
				let input = document.createElement("input");
				input.setAttribute("maxlength","30");
				input.classList.add("custom-input");
				input.classList.add("mp-custom-input");
				input.type = "text";
				
				if(problem.solv != ""){
					input.value= problem.solv;
				}
				
				mpRegionWrap.appendChild(p);
				mpRegionWrap.appendChild(input);
				problemChoiseList.appendChild(mpRegionWrap);
			}
		}
		
		
	</script>
</body>
</html>