<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quiz Wiki 비밀번호 찾기</title>

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="./css/common.css" />
<link rel="stylesheet" type="text/css"
	href="./css/member/login_pass_forgot_find.css" />


</head>

<body>
	<script
		src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
	<div class="login">
		<div class="login__content">
			<div class="login__forms">

				<form action="" class="login__register" id="login-in" method="post">
					<h1 class="login__title">
						<a href="/main">
							<img src="/images/main/QuizWiki_logo1.jpeg" id="login_title_img">
						</a>
					</h1>
					<div class="login__box login_id_forgot">귀하의 비밀번호</div>
					<hr>
					<div class="login__box login_id">
					    비밀번호
					    <div id="otherFileContent" style="display: none;"></div>
					
					<script>
					
					  
					
					  fetch('/findPass.do')
					    .then(response => response.text())
					    .then(html => {
					      const otherFileContent = document.getElementById('otherFileContent');
					      otherFileContent.innerHTML = html;
					
					      const memberNameInput = otherFileContent.querySelector('[name="member_name"]');
					      const memberIdInput = otherFileContent.querySelector('[name="member_id"]');
					      const emailInput = otherFileContent.querySelector('[name="email"]');
						
					      memberNameInput.style = '';
					      emailInput.style = '';
					      
					    });
					</script>
					   <span th:if="${check==1}">
					       
					        <label>일치하는 정보가 존재하지 않습니다.</label>
					    </span>
					    
					    <span th:if="${check == 0}">
					        <label th:text="'찾으시는 비밀번호는 ' + ${member_pass} + ' 입니다.'"></label>
					    </span>
					</div>
					<span class="login__box__under" style="margin-left: 0;">
					로그인 후 마이페이지에서 비밀번호를 변경하세요.</span>
					<a href="/login.do" class="login__button">로그인하기</a>
				</form>

			</div>
		</div>
	</div>

</body>

</html>