<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quiz Wiki 비밀번호 찾기</title>

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/member/login_pass_forgot.css"/>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">



function chk_form() {
	if(document.getElementById("member_name").value==''){
		alert("이름을 입력하세요.");
		return false;
	}
	if(document.getElementById("member_id").value==''){
		alert("아이디를 입력하세요.");
		return false;
	}
	if(document.getElementById("memail").value==''){
		alert("이메일을 입력하세요.");
		return false;
	}
	document.getElementById('login-pass').submit();
	}

$(document).ready(function(){
	
	$("#findBtn").click(function(){
		$.ajax({
			url : "/findpw",
			type : "POST",
			data : {
				member_name : $("#member_name").val(),
				member_id : $("#member_id").val(),
				email : $("#memail").val()
			},
			success : function(data) {
				if($("#member_name").val()==null || $("#member_name").val()==""){
					alert("이름을 입력하세요");
				} else{
					//alert("이름 입력 완료");
					if($("#member_id").val()==null || $("#member_id").val()==""){
						alert("아이디를 입력하세요");
					} else{
						//alert("아이디 입력함!");
						if($("#memail").val()!=null && $("#memail").val()!=""){
							alert($("#memail").val()+"로 임시 비밀번호가 발송되었습니다. \n비밀번호는 로그인 후 마이페이지에서 변경이 가능합니다.");
							console.log("data -> "+data);
						}else{
							alert("이메일을 입력하세요");
						}
					}
				}
				
			},
			error : function(){
				alert('error');
			}
		})
	});
	
});

</script>
</head>

<body>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" ></script>
	<div class="login">
		<div class="login__content">
			<div class="login__forms">
				<form action="/find_pass.do" class="login__register" id="login-pass" method="post">
					<h1 class="login__title">
						<a href="/main">
							<img src="/images/main/QuizWiki_logo1.jpeg" id="login_title_img">
						</a>
					</h1>
					<div class="login__box login_id_forgot">
						비밀번호 찾기
					</div>
					<hr>
					
					<div class="login__box login_name">
						이름
						<input type="text" id="member_name" name="member_name"
							placeholder="" class="login__input">
					</div>
					<div class="login__box login_id">
						아이디
						<input type="text" id="member_id" name="member_id"
							placeholder="" class="login__input">
					</div>
					<div class="login__box login_tel">
							이메일 주소
							<input type="email" placeholder="quizwiki@naver.com" name="email"
							id="memail" class="login__input" required>
						</div>
				
					<label for="memailconfirm" id="memailconfirmTxt" style="float: left;padding-top: 10px;"></label>
					
					<a onclick="" class="login__button" id="findBtn" style="margin-bottom: 0.5rem;">임시 비밀번호 발송</a>
					<a href="/login.do" class="login__button" style="margin-bottom: 0; margin-top: 0">로그인하기</a>
				</form>	
			</div>
		</div>
	</div>

</body>

</html>