<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quiz Wiki 로그인</title>

<!-- 네이버 로그인 -->
<!-- <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script> -->

<!-- css -->
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
	rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="./css/common.css" />
<link rel="stylesheet" type="text/css" href="./css/member/login.css" />

<script type="text/javascript">

function chk_form() {
	if(document.getElementById("member_id").value==''){
		alert("아이디를 입력하세요.");
		return false;
	}
	if(document.getElementById("member_pass").value==''){
		alert("비밀번호를 입력하세요.");
		return false;
	}
	document.getElementById('login-in').submit();
	}
</script>

</head>
<body>

	<div class="login">
		<div class="login__content">
			<div class="login__forms">
				<form class="login__register" id="login-in" name="login-in" action="/login.do" method="post">
					
					<h1 class="login__title">
						<a href="/main"> <img src="/images/main/QuizWiki_logo1.jpeg"
							id="login_title_img">
						</a>
					</h1>
					
					<div class="login__box">
						<i class='bx bx-user login__icon'></i> <input type="text"
							placeholder="아이디" class="login__input" id="member_id" name="member_id">
					</div>
					<div class="login__box">
						<i class='bx bx-lock login__icon'></i> <input type="password"
							placeholder="패스워드" class="login__input" id="member_pass" name="member_pass">
					</div>

					<div class="login__forgot_box">
						<a href="/findId.do" class="login__forgot">아이디 찾기</a> <a
							href="/findPass.do" class="login__forgot">비밀번호 찾기</a>
					</div>
					
					<a class="login__button" onclick="chk_form()"
						style="margin-bottom: 0">로그인</a>
					
					<div style="margin-bottom: 10px;margin-top: 0;">
						<div><!-- <div class="logo_wrap"> -->
							<!-- 카카오 간편 로그인 -->
							<a href="https://kauth.kakao.com/oauth/authorize
									?client_id=e2758d85befb75965fd0776467743592
									&redirect_uri=http://localhost:8087/kakao/login
									&response_type=code" class="login__button" id="loginBtn">
							<!-- <a href="javascript:kakaoLogin();"> -->
							<!-- <a th:href="@{|${kakaoUrl}|}"> -->
							<!-- <a id="kakao-login-btn" href="javascript:loginWithKakao()"> -->
								<!-- <img src="/images/icon_kakao.png" id="kakao_img"
								width="100%" height="100%"> -->
								<!-- <img src="/images/icon_kakao_login_large_wide.png" id="kakao_img"
								style="height: 3rem!important;width: 100%!important"> -->
								<img src="/images/kakao_msg.png" id="kakao_img">
								카카오 로그인
							</a>
							
						</div>
						<!-- <div class="logo_wrap">
							네이버 간편 로그인
							state는 임의의 값을 넣으라고 해서 test로 잡았습니닷,, 
							<a href="https://nid.naver.com/oauth2.0/authorize
									?response_type=code
									&client_id=cxcb9w9XfPoA7smc2VrM
									&state=test
									&redirect_uri=http://localhost:8087/main"> 
								<img src="/images/icon_naver.png" width="100%" height="100%">
							</a>
						</div> -->
							<!-- <div class="logo_wrap">
							네이버 로긴
							<div id="naverIdLogin"> -->
								<!-- <img src="/images/icon_naver.png" width="100%" height="100%"> -->
							<!-- </div>
							<script type="text/javascript">
								var naverLogin = new naver.LoginWithNaverId({
									clientId:"cxcb9w9XfPoA7smc2VrM",
									callbackUrl:"http://localhost:8087/main",
									isPopup:false,
									loginButton:{color:"green",type:1,height:60}
								});
								naverLogin.init();
							</script>
							</div> -->
						<!-- <div class="logo_wrap"> -->
							<!-- 구글 간편 로그인 -->
							<!-- <a href="https://accounts.google.com/o/oauth2/v2/auth
							?client_id=242302757713-sf1j2s5ngrc6k6p339mviputd0uq6qdq.apps.googleusercontent.com
							&response_type=token
							&redirect_uri=http://localhost:8087/main
							&scope=https://www.googleapis.com/auth/userinfo.email"> 
							<img src="/images/icon_google.png"
								id="login_title_img" width="100%" height="100%">
							</a>
						</div> -->
					</div>
						
					<div>
						<span class="login__account login__account--account">계정이 없으신가요?</span> 
						<span class="login__signin login__signin--signup" id="sign-up">
							<a href="/signupType">회원가입</a>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>