<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quiz Wiki 비밀번호 찾기</title>

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="./css/common.css"/>
<link rel="stylesheet" type="text/css" href="./css/member/login_pass_forgot.css"/>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script type="text/javascript">
function chk_form() {
	if(document.getElementById("member_name").value==''){
		alert("이름을 입력하세요.");
		return false;
	}
	if(document.getElementById("member_id").value==''){
		alert("아이디를 입력하세요.");
		return false;
	}
	if(document.getElementById("memail").value==''){
		alert("이메일을 입력하세요.");
		return false;
	}
	document.getElementById('login-pass').submit();
	}

$(document).ready(function(){
	// 이메일 인증번호
	 $("#checkEmail").on("click",function(){
	    $.ajax({
	       type : "POST",
	       url : "/login/mailConfirm",
	       data : {
	          "email" : $("#memail").val()
	       },
	       success : function(data){
	          alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인 후 인증해주세요.")
	          console.log("data : "+data);
	         
	       }
	    })
	 })
	 
	
});

</script>
</head>

<body>
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" ></script>
	<div class="login">
		<div class="login__content">
			<div class="login__forms">
				<form action="/find_pass.do" class="login__register" id="login-pass" method="post">
					<h1 class="login__title">
						<a href="/main">
							<img src="/images/main/QuizWiki_logo1.jpeg" id="login_title_img">
						</a>
					</h1>
					<div class="login__box login_id_forgot">
						비밀번호 찾기
					</div>
					<hr>
					
					<div class="login__box login_name">
						이름
						<input type="text" id="member_name" name="member_name"
							placeholder="" class="login__input">
					</div>
					<div class="login__box login_id">
						아이디
						<input type="text" id="member_id" name="member_id"
							placeholder="" class="login__input">
					</div>
						<div class="row">
							<div class="login__box login_tel">이메일 주소
							<input type="email" placeholder="quizwiki@naver.com" name="email"
							id="memail" class="login__input" required>
						</div>

						<div class="div__check__button">
							<a type="button" id="checkEmail" class="login__button check__button"
							onclick="">인증번호 발송</a>
						</div>
					</div>
					
					<div class="login__box login_num">
					인증번호 <input type="text" placeholder="6자리 인증번호 입력" id="memailconfirm" 
					class="login__input" required>
					</div>
					<label for="memailconfirm" id="memailconfirmTxt" style="float: left;padding-top: 10px;"></label>
					
					<a onclick="chk_form()" class="login__button">비밀번호 찾기</a>
				</form>	
			</div>
		</div>
	</div>

</body>

</html>