<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
  <title>네이버 callback</title>
  <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
</head>
<body>
<!-- 네이버 로그인 버튼 노출 영역 -->
<div id="naver_id_login"></div>
<!-- //네이버 로그인 버튼 노출 영역 -->

<!-- <button onclick="logout()">로그아웃</button> -->


<!-- 네이버아디디로로그인 초기화 Script -->
<script type="text/javascript">

	var naverLogin = new naver.LoginWithNaverId({
		clientId:"cxcb9w9XfPoA7smc2VrM",
		callbackUrl:"http://localhost:8087/naver/callback",
		isPopup:false,
		callbackHandle:true
	});

	naverLogin.init();
	
	window.addEventListener('load',function(){
		naverLogin.getLoginStatus(function(status){
			if(status){ // status : 정상적으로 로긴되면 true
				var email = naverLogin.user.getEmail();
				alert("email ---> "+email);
				console.log(naverLogin.user);
				if(email==undefined || email==null){
					alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
					naverLogin.reprompt();
					return;
				}
			} else{
				console.log("callback 실패");
			}
		});
	});
	
	/* function naverLoginClick(){
		naverLogin.getLoginstatus(function(status){
			var accessToken = naverLogin.getAccessToken();
			var logoutUrl = "https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=cxcb9w9XfPoA7smc2VrM&client_secret=QF0siSjHVQ&access_token=" + accessToken + "&service_provider=NAVER";
		})
	}
	
	function logout() {
        var accessToken = naverLogin.getAccessToken();
        var logoutUrl = "https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=cxcb9w9XfPoA7smc2VrM&client_secret=QF0siSjHVQ&access_token=" + accessToken + "&service_provider=NAVER";
        window.location.href = logoutUrl; // 로그아웃 URL로 리다이렉트
    } */
	
	// 네이버 로그아웃 코드 - 주소창에 치면 됨! access token값만 다르게 해주면 되는데..
	// https://nid.naver.com/oauth2.0/token?grant_type=delete&client_id=cxcb9w9XfPoA7smc2VrM&client_secret=QF0siSjHVQ&access_token=AAAAOFggKsqYf5tBYD10mFHzcXhyI3GuaoIRFMMj3XVu5Xc51FGIL2PCDgPc25y_dM1iMs0lp7-jNhh-IxliSy190oY&service_provider=NAVER
	
	/* var naver_id_login = new naver_id_login("cxcb9w9XfPoA7smc2VrM","http://localhost:8087/naver/callback");
	var state = naver_id_login.getUniqState();
	naver_id_login.setButton("white", 2,40);
	naver_id_login.setDomain(".service.com");
	naver_id_login.setState(state);
	naver_id_login.setPopup();
	naver_id_login.init_naver_id_login(); */
 //네이버아디디로로그인 초기화 Script


 //네이버아디디로로그인 Callback페이지 처리 Script
	// 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
	//function naverSignInCallback() {
		// naver_id_login.getProfileData('프로필항목명');
		// 프로필 항목은 개발가이드를 참고하시기 바랍니다.
		//alert(naver_id_login.getProfileData('email'));
		//alert(naver_id_login.getProfileData('nickname'));
		//alert(naver_id_login.getProfileData('age'));
	//}


	// 네이버 사용자 프로필 조회
	//naver_id_login.get_naver_userprofile("naverSignInCallback()");
</script>
<!-- //네이버아디디로로그인 Callback페이지 처리 Script -->
</body>
</html>