<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/note/note_read_popup.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

<title>5월 모의고사 오답노트 - test</title>
</head>
<body>
	<div class="popup-header">
		<h2>5월 모의고사 오답노트</h2>
	</div>
	<div class="popup-content">
		<ul class="page-area">
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
			<li class="page-item">
			</li>
		</ul>
		<div class="workspace-area">
			<div class="workspace">
				<pre>
문제1. 다음중 옳은거를 고르세요,,
1.ㅎㅇ
2.ㅎㅇ
3.ㅎㅇ
4.ㅎㅇ
</pre>
			</div>
			
			
			<div class="workspace">
				<pre class="testText">
내가 쓴 필기
sdfsd
f
sdf
sd
fsd
fsd
f
sdf
sd
fsd
fsd
f
dsf
sd
fsd
fds
f
sdf
end.
</pre>
			</div>
		</div>
	</div>
	
	
	
	
</body>

<script type="text/javascript">
	///////////////////////이니셜라이징////////////////
	////////////////////////////////////

	
	////////////////////이벤트 핸들러///////////////////////
	//////////////////////////////////////////////////////
	
	
	
	/////////////////////////펑션/////////////////////////
	////////////////////////////////////////////////////
</script>
</html>