body{
    overflow-x: hidden;
    background-color:#f9f9f9;
}

.slide-deco{
    width: 4800px;
    display: flex;
    position: absolute;
    top: 50%;
    left:-2400px;
    transform: translateY(-50%);
    justify-content: space-around;
    animation: slide-deco-anim 45s linear infinite;
    overflow: hidden;
}
.breath-effect{
	animation: breath-opacity-anim 5s linear infinite;
}
.slide-deco svg{
    width: 50px;
    height: 50px;
}
.slide-deco svg:nth-child(odd){
	fill: #b7dffe;
}
.slide-deco svg:nth-child(even){
	fill: #b7dffe;
}

@keyframes slide-deco-anim {
    0%{
        left: -2400px;
    }
    100%{
        left: 100px;
    }
}
@keyframes breath-opacity-anim {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .8;
    }
	100%{
		opacity: 1;
	}
}

section{
	width: 100%;
}

#main-banner-section{
	background-color:#70b2ff;
	background-image: url(/images/main/back.png);
	background-position-x:left;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	box-sizing: border-box;
    padding: 30px 10px;
    position: relative;
}

#main-banner-section a{
	text-decoration: none;
}
#main-banner-container{
	width: 1200px;
	margin:0 auto;
	align-self: center;
}

#main-banner-title{
	margin-bottom: 30px;
}

#main-banner-title h1{
	font-family: "Esamanru";
	color: white;
	font-size: 64px;
	text-shadow: 5px 5px #2b5293;
	animation: breath-title-text 3s infinite;
	padding-top:5px;
}
#main-banner-title h1::selection,h4::selection{
	background-color: #0090b9;
}

@keyframes breath-title-text {
	0%{
		text-shadow: 5px 5px #70b2ff;
	}

	50%{
		text-shadow: 5px 5px #0066a7;
	}

	100%{
		text-shadow: 5px 5px #70b2ff;
	}
}

#main-banner-title h4{
	font-family: "Esamanru";
	color: white;
}




#main-desc-section{
	background-color:#f9f9f9;
}
#main-desc-section h2{
	font-family: "Esamanru";
	color: rgb(135, 165, 255);
	text-shadow: 3px 3px #dae7ff;
	font-size: 24px;
}
#main-desc-section h4{
	font-family: "Esamanru";
	color: #494949;
	font-size: 18px;
	padding: 10px 0;
}
.desc-container{
	width: 1200px;
	margin: 0 auto;
}








/* tabs */
/* Individual tab styles */
.tab-custom{
	border-radius: 30px;
	box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.tab-title{
	font-family: "Esamanru";
	text-decoration: none;
}
/*****************************/
/* Shape */
/*****************************/

.tabs-style-shape {
	max-width: 1200px;
}

.tabs-style-shape nav ul li {
	margin: 0 3em;
}

.tabs-style-shape nav ul li:first-child {
	margin-left: 0;
}

.tabs-style-shape nav ul li.tab-current {
	z-index: 100;
}

.tabs-style-shape nav li a {
	overflow: visible;
	margin: 0 -3em 0 0;
	padding: 0;
	color: white;
	font-weight: 500;
}

.tabs-style-shape nav li:first-child a span {
	padding-left: 2em;
	border-radius: 30px 0 0 0;
}

.tabs-style-shape nav li:last-child a span {
	padding-right: 2em;
	border-radius: 0 30px 0 0;
}

.tabs-style-shape nav li a svg {
	position: absolute;
	left: 100%;
	margin: 0;
	width: 3em;
	height: 100%;
	fill: #bdc2c9;
}

.tabs-style-shape nav li a svg:nth-child(2),
.tabs-style-shape nav li:last-child a svg {
	right: 100%;
	left: auto;
	-webkit-transform: scale3d(-1,1,1);
	transform: scale3d(-1,1,1);
}

.tabs-style-shape nav li a span {
	display: block;
	overflow: hidden;
	padding: 0.65em 0;
	background-color: #9e7862;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tabs-style-shape nav li a:hover span {
	background-color: #684319;
}

.tabs-style-shape nav li a:hover svg {
	fill: #2CC185;
}

/* Make only shape clickable */
.tabs-style-shape nav li a svg {
	pointer-events: none;
}

.tabs-style-shape nav li a svg use {
	pointer-events: auto;
}

.tabs-style-shape nav li.tab-current a span,
.tabs-style-shape nav li.tab-current a svg {
	-webkit-transition: none;
	transition: none;
}

.tabs-style-shape nav li.tab-current a span {
	background: #fff;
}

.tabs-style-shape nav li.tab-current a svg {
	fill: #fff;
}

.tabs-style-shape .content-wrap {
	background: #fff;
}

@media screen and (max-width: 58em) {
	.tabs-style-shape nav ul {
		display: block;
		padding-top: 1.5em;
	}
	.tabs-style-shape nav ul li {
		display: block;
		margin: -1.25em 0 0;
		-webkit-flex: none;
		flex: none;
	}
	.tabs-style-shape nav ul li a {
		margin: 0;
	}
	.tabs-style-shape nav ul li svg {
		display: none;
	}
	.tabs-style-shape nav ul li a span {
		padding: 1.25em 0 2em !important;
		border-radius: 30px 30px 0 0 !important;
		box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
		line-height: 1;
	}
	.tabs-style-shape nav ul li:last-child a span {
	}
	.tabs-style-shape nav ul li.tab-current {
		z-index: 1;
	}
}
/* tab basic */
.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: black;
}

.tabs nav a:focus {
	outline: none;
}

/* Icons */
.icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	font-family: 'stroke7pixeden';
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-upload::before {
	content: "\e68a";
}
.icon-tools::before {
	content: "\e60a";
}
.icon-plane::before {
	content: "\e625";
}
.icon-joy::before {
	content: "\e6a4";
}
.icon-plug::before {
	content: "\e69a";
}
.icon-home::before {
	content: "\e648";
}
.icon-gift::before {
	content: "\e652";
}
.icon-display::before {
	content: "\e65e";
}
.icon-date::before {
	content: "\e660";
}
.icon-config::before {
	content: "\e666";
}
.icon-coffee::before {
	content: "\e669";
}
.icon-camera::before {
	content: "\e66f";
}
.icon-box::before {
	content: "\e674";
}

/* Content */
.content-wrap {
	position: relative;
}

.content-wrap section {
	display: none;
	margin: 0 auto;
	padding: 1em;
	max-width: 1200px;
	text-align: center;
	box-sizing: border-box;
	
    background-image: url(/images/pboard/texture.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border: white 10px ridge;
}

.content-wrap section.content-current {
	
	display: block;
}

.content-wrap section p {
	margin: 0;
	padding: 0.75em 0;
	color: rgba(40,44,42,0.05);
	font-weight: 900;
	font-size: 4em;
	line-height: 1;
}

.content-box{
	position: relative;
	box-sizing: border-box;
	display: flex;
    width: 100%;
    padding: 2% 0;
    left:0%;
    transition:.5s;
}
/*  */


.section-card{
	flex: 0 0 auto;
	width: 30%;
	aspect-ratio: 1 / 1;
	padding:0 1.5%;
}

.paper {
  --paper-dark: #e5c93d;
  --paper-color: #ffed87;
  
  width:100%;

  position: relative;
  display: flex;
  justify-content: center;
  min-height: 175px;
  background: linear-gradient(
    135deg,
    var(--paper-dark),
    30%,
    var(--paper-color)
  );
  box-shadow: 3px 3px 2px var(--paper-shadow);
  transform-origin: top left;
  transform: rotate(0deg);
  transition: .5s;
  height:100%;
  
  cursor: pointer;
}
.paper:hover{
	transform: rotate(2deg);
}

.paper p {
  margin: auto;
}

.pin {
  --pin-color: #d02627;
  --pin-dark: #9e0608;
  --pin-light: #fc7e7d;

  position: absolute;
  left: 20px;
  width: 60px;
  height: 50px;
}

.shadow {
  position: absolute;
  top: 18px;
  left: -8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: radial-gradient(var(--paper-shadow), 20%, rgba(201, 191, 141, 0));
}

.metal {
  position: absolute;
  width: 5px;
  height: 20px;
  background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
  border-radius: 0 0 30% 30%;
  transform: rotate(50deg);
  transform-origin: bottom left;
  top: 15px;
  border-bottom: 1px solid #808080;
}

.bottom-circle {
  position: absolute;
  right: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--pin-color);
  background: radial-gradient(
    circle at bottom right,
    var(--pin-light),
    25%,
    var(--pin-dark),
    90%,
    var(--pin-color)
  );
}

/* Barrel */
.bottom-circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 20px;
  height: 30px;
  transform: rotate(55deg);
  transform-origin: 100% 100%;
  border-radius: 0 0 40% 40%;
  background: linear-gradient(
    to right,
    var(--pin-dark),
    30%,
    var(--pin-color),
    90%,
    var(--pin-light)
  );
}

/* Top circle */
.bottom-circle::after {
  content: "";
  position: absolute;
  right: -10px;
  top: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(
    circle at right,
    var(--pin-light),
    30%,
    var(--pin-color),
    var(--pin-dark) 80%
  );
}

.carousel-btn-wrap{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.carousel-btn{
	margin: 0px 10px;
	border-radius: 100%;
	font-size:30px;
    padding: 8px 10px;
    cursor: pointer;
    z-index: 100;
    color:white;
	background: black;
    outline:2px solid #ffffff;
    opacity: .5;
}

.carousel-btn:hover{
	background: white;
    outline:3px solid black;
    color: black;
    opacity: 1;
}

.borard-gradient{
    background: linear-gradient(to right, #723f00, #753f1f, #723f00);
    opacity: .7;
	width:100%;
	height:100%;
	position: absolute;
}

.carousel-outter{
	width:100%;
	height:100%;
	overflow:hidden;
}

.board-memo-form{
	width:100%;
	height:100%;
}
.board-memo-form h1{
	text-align: left;
	font-family: "Typo_Crayon";
}

.board-memo-form .memo-title{
	text-align: center;
	font-size:auto;
	box-sizing: border-box;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
}
.memo-title-area{
	height:30%;
	display: flex;
	align-items: center;
	border-bottom: 3px solid #00000026;;
}
.memo-content-area{
	height:70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.memo-content-area h1{
	padding-left: 10px;
	border-bottom: 2px solid #00000026;;
}

.green-underline{
	background: linear-gradient(to top, #bfffa1 40%, transparent 40%);
    padding: 1px 1rem;
}

.memo-desc{
	font-size:1rem;
}
.memo-content{
	font-size:1.5rem;
}


.red-underline{
	background: linear-gradient(to top, #ffa1a187 40%, transparent 40%);
    padding: 1px .5rem;
}

.blue-underline{
 	background: linear-gradient(to top, #a1a3ffbf 40%, transparent 40%);
    padding: 1px .5rem;
}
.sky-underline{
	background: linear-gradient(to top, #a1e0ffc9 40%, transparent 40%);
    padding: 1px .5rem;
}
.yellow-underline{
	background: linear-gradient(to top, #f3ff61b8 40%, transparent 40%);
    padding: 1px .5rem;
}
.purple-underline{
	background: linear-gradient(to top, #d7a1ff 40%, transparent 40%);
    padding: 1px .5rem;
}



.flex-wrap{
	display: flex;
}
.deco-holder-half{
	width:50%;
	padding: 1rem;
}
.deco-holder-full{
	width:100%;
	position:relative;
	padding: 1rem;
	box-sizing: border-box;
}

.elementor-widget-container{
	display:flex;
	animation:moving 35s linear infinite;
}
.elementor-widget-container img {
    width: 200%;
    max-width: 200%;
    height: 120px;
}



@keyframes moving {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}



.desc-card{
	border-radius: 3rem;
	width: 100%;
	height:50vh;
	padding: 1rem;
	max-width:1200px;
	margin: 10vh auto;
	background-color:#FCDFBD;
    box-shadow: 0px 24px 24px -16px #F1CDA2;
}
