<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout/qboard_layout}"
layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- cdn -->
  <script src="https://cdn.tiny.cloud/1/m9c7gqyopx0jsirhd6c5ayonoesqeg1dxxs3swtoi22qmkvy/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script src="https://kit.fontawesome.com/e92cf22849.js"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--  css -->
<link rel="stylesheet" type="text/css" href="/css/qboard/qboard.css" />
<link rel="stylesheet" type="text/css" href="/css/qboard/style.css" />
<link rel="stylesheet" type="text/css" href="/css/qboard/bootstrap.css" />

<!-- js -->
<script th:src="@{/js/qboard/function.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

<script type="text/javascript" src="/js/qboard/qna.js"></script>
<script type="text/javascript" src="/js/qboard/jquery-1.11.2.js"></script>
<script type="text/javascript" src="/js/qboard/bootstrap.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#inSubject").focus();
	});
</script>
</head>
<body>
<div id="container">

	<div id="locationBar">
		<div id="locationBar_child">
				
			</div>
		
		
	</div>
	<div id="mainBlock">
		
		<!-- 2. 사이드바 -->
		<div id="aside">
		
			<div id="side_title">커뮤니티</div>
		
			
				<div id="side_menu">
					<ul>
						<li onclick="location.href=''">자유게시판</li>

						<li class="side_select"
							onclick="location.href='/qboard/list'">질문게시판</li>

						<li onclick="location.href='/pboard/list'">나만의 문제집</li>
					</ul>

				</div>
		</div>

	<!-- 3. 본문 -->
	<div id="content">

		<div id="content_title">궁금증 해결하기</div>


		<div id="content_body">

			<form method="post" id="saveForm"  enctype="multipart/form-data">
				<!-- 게시글 수정인 경우 서버로 전달할 게시글 번호 -->
				
				<input type="hidden" id="qboard_id" name="qboard_id" th:if="${qboard != null}" th:value="${qboard.qboard_id}" />
<!-- 				<input type="hidden" id="regDate" name="regDate" />
 -->				<label>과목</label>
					<input type="hidden" id="category" name="category" th:value=${param.category}>
 					<select id="inSubject" autocomplete="categoryCode"
					class="form-control" name="categoryCode">
					<option value="" class="">과목을 선택해주세요.</option>
					<option   th:value="국어" class="">국어</option>
					<option   th:value="영어" class="">영어</option>
					<option   th:value="수학" class="">수학</option></select> 
					<br/>
					<br/>
					<label>제목</label>
					<input type="text"   id="title" name="title"    class="form-control" placeholder="제목" required />
 				<br/>
 	
            <br/>
            	<label>본문</label>
				<textarea class="form-control" id="Content" name="content" style="height: 300px;"
					placeholder="질문 내용을 입력하세요." required></textarea>
				
				<span style='float: right;'> <input type="button"
					class="btn btn-default" value="취소" onclick="history.back();" /> 
				</span>
				<button type="button" id="saveBtn" onclick="saveQboard();" class="btn btn-success" value="질문등록">질문 등록</button>	
				
			</form>

		</div>
	</div>
  	
	</div>
<!-- se2 -->
   <script>
	    tinymce.init({
	      selector: 'textarea',
	      language: 'ko',
	      menubar: false,	
	      mode : "textareas",
	      plugins: 'link lists media image visual blocks ',
	      toolbar: 'alignleft aligncenter alignright alignjustify| undo redo| styles | bold italic underline |formatselect | bullist numlist | outdent indent | link image ',
	      toolbar_mode: 'floating',
	      content_style: 'body{font-family:Helvetica,Arial,sans-serif; font-size:16px}',
	      tinycomments_mode: 'embedded',
	      tinycomments_author: 'Author name',
	      mergetags_list: [
	        { value: 'First.Name', title: 'First Name' },
	        { value: 'Email', title: 'Email' },
	      ],
	      images_upload_handler: function (blobInfo) {
	    	  imageList.push(blobInfo.blob());
	      },
	      
	      /* enable title field in the Image dialog*/
	      image_title: true,
	    
	      /* enable automatic uploads of images represented by blob or data URIs*/
	      automatic_uploads: true,
	                            
	      /*Here we add custom filepicker only to Image dialog*/
	      file_picker_types: 'image',
	    
	      /* and here's our custom image picker*/
	      file_picker_callback: function (cb, value, meta) {
	          var input = document.createElement('input');
	          input.setAttribute('type', 'file');
	          input.setAttribute('accept', 'image/*');
	  
	          input.onchange = function () {
	              var file = this.files[0];                    
	              var reader = new FileReader();
	              
	              reader.onload = function () {
	                
	                  var id = 'blobid' + (new Date()).getTime();
	                  var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
	                  var base64 = reader.result.split(',')[1];
	                  
	                  var blobInfo = blobCache.create(id, file, base64);                                    
	                  blobCache.add(blobInfo);
	  
	                  cb(blobInfo.blobUri(), { title: file.name });
	              };
	        
	              reader.readAsDataURL(file);
	          };
	  
	          input.click();
	      }     
	    });
  </script>
	
<th:block layout:fragment="script">
   <script th:inline="javascript">
        /*<![CDATA[*/
			
        	let imageList = [];
          
            window.onload = () => {
                renderQboard();
            }


            // 게시글 상세정보 렌더링
            function renderQboard() {
                const qboard = /*[[ ${qboard} ]]*/'';

                if ( !qboard ) {
                    initCreatedDate();
                    return false;
                }

                const form = document.getElementById('saveForm');
                const fields = ['qboard_id', 'title', 'content', ];

                fields.forEach(field => {
                    form[field].value = qboard[field];
                })
            }
            // 등록일 초기화
            function initCreatedDate() {
                document.getElementById('regDate').value = dayjs().format('YYYY-MM-DD');
            }

	
            
            
            function saveQboard(){
            	 const form = document.getElementById('saveForm');
            	 const qboard = /*[[ ${qboard == null} ]]*/''; 
            	 const formData = new FormData();
            	 
            	 sendData = {
            			 qboard:{
		            		title:form.title.value,
		            		content:tinymce.activeEditor.getContent(),
		            		subject:inSubject.value,
		            		category: category.value
            			 }
            	 };
            	 document.getElementById('saveBtn').disabled = true;
					
               
            	 formData.append("sendData", new Blob([JSON.stringify(sendData),{type:"application/json"}]));
            	 
            	 imageList.forEach((e)=>{
           		 	formData.append("imageList", e);
            	 });
            	 
            	 $.ajax({
            		url:qboard ? '/quizwiki/qboard/save.do' : '/quizwiki/qboard/update.do',
            		type:"POST",
            		data:formData,
            		contentType: false,
                  	processData: false,
            		enctype: 'multipart/form-data',
            		success:(res)=>{
            			const msg = res
            			if(msg == "success"){
            				window.location.href = "/quizwiki/qboard/list.do";
            			}else if(msg == "notlogin"){
            				window.location.href = "/login.do";
            			}
            			
            		},
            		
            	 })
                 
            }
            

            // 게시글 리스트 페이지로 이동
            function goListPage() {
                const queryString = new URLSearchParams(location.search);
                queryString.delete('id');
                location.href = '/qboard/list.do' + '?' + queryString.toString();
            }
            
            // 파일 선택
            function selectFile(element) {

                const file = element.files[0];
                const filename = element.closest('.file_input').firstElementChild;

                // 1. 파일 선택 창에서 취소 버튼이 클릭된 경우
                if ( !file ) {
                    filename.value = '';
                    return false;
                }

                // 2. 파일 크기가 10MB를 초과하는 경우
                const fileSize = Math.floor(file.size / 1024 / 1024);
                if (fileSize > 10) {
                    alert('10MB 이하의 파일로 업로드해 주세요.');
                    filename.value = '';
                    element.value = '';
                    return false;
                }

                // 3. 파일명 지정
                filename.value = file.name;
            }


            // 파일 추가
            function addFile() {
                const fileDiv = document.createElement('div');
                fileDiv.innerHTML =`
                    <div class="file_input">
                        <input type="text" readonly />
                        <label> 첨부파일
                            <input type="file" name="files" onchange="selectFile(this);" />
                        </label>
                    </div>
                    <button type="button" onclick="removeFile(this);" class="btns del_btn"><span>삭제</span></button>
                `;
                document.querySelector('.file_list').appendChild(fileDiv);
            }
            
            // 파일 삭제
            function removeFile(element) {
                const fileAddBtn = element.nextElementSibling;
                if (fileAddBtn) {
                    const inputs = element.previousElementSibling.querySelectorAll('input');
                    inputs.forEach(input => input.value = '')
                    return false;
                }
                element.parentElement.remove();
            }

        /*]]>*/
        </script>
  
</th:block>
	
</body>

</html>